@font-face {
  font-family: 'kajaria-fonts';
  src: url('../fonts/kajaria-fonts.eot?40090775');
  src: url('../fonts/kajaria-fonts.eot?40090775#iefix') format('embedded-opentype'),
    url('../fonts/kajaria-fonts.woff2?40090775') format('woff2'),
    url('../fonts/kajaria-fonts.woff?40090775') format('woff'),
    url('../fonts/kajaria-fonts.ttf?40090775') format('truetype'),
    url('../fonts/kajaria-fonts.svg?40090775#kajaria-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'kajaria-fonts';
    src: url('../font/kajaria-fonts.svg?40090775#kajaria-fonts') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="filter-icon-"]:before,
[class*=" filter-icon-"]:before {
  font-family: "kajaria-fonts";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-attachement:before {
  content: '\e800';
}

/* '' */
.icon-automotion:before {
  content: '\e801';
}

/* '' */
.icon-bag:before {
  content: '\e802';
}

/* '' */
.icon-bathroom:before {
  content: '\e803';
}

/* '' */
.icon-bedroom:before {
  content: '\e804';
}

/* '' */
.icon-brochure:before {
  content: '\e805';
}

/* '' */
.icon-calculator:before {
  content: '\e806';
}

/* '' */
.icon-calender:before {
  content: '\e807';
}

/* '' */
.icon-chat:before {
  content: '\e808';
}

/* '' */
.icon-close:before {
  content: '\e809';
}

/* '' */
.icon-commercial:before {
  content: '\e80a';
}

/* '' */
.icon-copy:before {
  content: '\e80b';
}

/* '' */
.icon-cpacity:before {
  content: '\e80c';
}

/* '' */
.icon-cpacity2:before {
  content: '\e80d';
}

/* '' */
.icon-crop:before {
  content: '\e80e';
}

/* '' */
.icon-direction:before {
  content: '\e80f';
}

/* '' */
.icon-direction-line:before {
  content: '\e810';
}

/* '' */
.icon-download:before {
  content: '\e811';
}

/* '' */
.icon-eye:before {
  content: '\e812';
}

/* '' */
.icon-facebook:before {
  content: '\e813';
}

/* '' */
.icon-facebook-fill:before {
  content: '\e814';
}

/* '' */
.icon-fax:before {
  content: '\e815';
}

/* '' */
.icon-filter:before {
  content: '\e816';
}

/* '' */
.icon-flag:before {
  content: '\e817';
}

/* '' */
.icon-flexible:before {
  content: '\e818';
}

/* '' */
.icon-gird-2:before {
  content: '\e819';
}

/* '' */
.icon-globe:before {
  content: '\e81a';
}

/* '' */
.icon-grid:before {
  content: '\e81b';
}

/* '' */
.icon-grid_2:before {
  content: '\e81c';
}

/* '' */
.icon-grid_3:before {
  content: '\e81d';
}

/* '' */
.icon-grid_4:before {
  content: '\e81e';
}

/* '' */
.icon-health:before {
  content: '\e81f';
}

/* '' */
.icon-history:before {
  content: '\e820';
}

/* '' */
.icon-honest:before {
  content: '\e821';
}

/* '' */
.icon-human_error:before {
  content: '\e822';
}

/* '' */
.icon-increments:before {
  content: '\e823';
}

/* '' */
.icon-info:before {
  content: '\e824';
}

/* '' */
.icon-innovation:before {
  content: '\e825';
}

/* '' */
.icon-instagram:before {
  content: '\e826';
}

/* '' */
.icon-leadership:before {
  content: '\e827';
}

/* '' */
.icon-kitchen:before {
  content: '\e828';
}

/* '' */
.icon-linkedin:before {
  content: '\e829';
}

/* '' */
.icon-list:before {
  content: '\e82a';
}

/* '' */
.icon-livingroom:before {
  content: '\e82b';
}

/* '' */
.icon-location_pin:before {
  content: '\e82c';
}

/* '' */
.icon-location-pin:before {
  content: '\e82d';
}

/* '' */
.icon-mail:before {
  content: '\e82e';
}

/* '' */
.icon-maintance:before {
  content: '\e82f';
}

/* '' */
.icon-location_pin-1:before {
  content: '\e830';
}

/* '' */
.icon-menu:before {
  content: '\e831';
}

/* '' */
.icon-mic:before {
  content: '\e832';
}

/* '' */
.icon-modern_tech:before {
  content: '\e833';
}

/* '' */
.icon-more:before {
  content: '\e834';
}

/* '' */
.icon-motivated:before {
  content: '\e835';
}

/* '' */
.icon-outdoor:before {
  content: '\e836';
}

/* '' */
.icon-pdf-1:before {
  content: '\e837';
}

/* '' */
.icon-pdf-2:before {
  content: '\e838';
}

/* '' */
.icon-phone-call:before {
  content: '\e839';
}

/* '' */
.icon-placeholder:before {
  content: '\e83a';
}

/* '' */
.icon-play:before {
  content: '\e83b';
}

/* '' */
.icon-profile:before {
  content: '\e83c';
}

/* '' */
.icon-plus:before {
  content: '\e83d';
}

/* '' */
.icon-redirect:before {
  content: '\e83e';
}

/* '' */
.icon-robotic-tech:before {
  content: '\e83f';
}

/* '' */
.icon-room:before {
  content: '\e840';
}

/* '' */
.icon-satin:before {
  content: '\e841';
}

/* '' */
.icon-save-energy:before {
  content: '\e842';
}

/* '' */
.icon-save-nature:before {
  content: '\e843';
}

/* '' */
.icon-save-water:before {
  content: '\e844';
}

/* '' */
.icon-scratch:before {
  content: '\e845';
}

/* '' */
.icon-search:before,.filter-icon-search:before {
  content: '\e846';
}

/* '' */
.icon-search-1:before {
  content: '\e847';
}

/* '' */
.icon-search-img:before {
  content: '\e848';
}

/* '' */
.icon-self-growth:before {
  content: '\e849';
}

/* '' */
.icon-share:before {
  content: '\e84a';
}

/* '' */
.icon-single:before {
  content: '\e84b';
}

/* '' */
.icon-sizes:before {
  content: '\e84c';
}

/* '' */
.icon-star:before {
  content: '\e84d';
}

/* '' */
.icon-subtract:before {
  content: '\e84e';
}

/* '' */
.icon-tick:before {
  content: '\e84f';
}

/* '' */
.icon-tiles:before {
  content: '\e850';
}

/* '' */
.icon-tiles-1:before {
  content: '\e851';
}

/* '' */
.icon-tile-vidulaizer:before {
  content: '\e852';
}

/* '' */
.icon-trend:before {
  content: '\e853';
}

/* '' */
.icon-twitter:before {
  content: '\e854';
}

/* '' */
.icon-upload:before {
  content: '\e855';
}

/* '' */
.icon-user:before {
  content: '\e856';
}

/* '' */
.icon-wall-floor:before {
  content: '\e857';
}

/* '' */
.icon-whatsapp:before {
  content: '\e858';
}

/* '' */
.icon-youtube:before {
  content: '\e859';
}

/* '' */
.icon-youtube-fill:before {
  content: '\e85a';
}

/* '' */
.icon-zoom-out:before {
  content: '\e85b';
}

/* '' */
.icon-zoom-in:before {
  content: '\e85c';
}

/* '' */
.icon-360_deg:before {
  content: '\e85d';
}

/* '' */
.icon-abrassion:before {
  content: '\e85e';
}

/* '' */
.icon-arrow-down:before {
  content: '\e85f';
}

/* '' */
.icon-arrow-left:before {
  content: '\e860';
}

/* '' */
.icon-arrow-right:before {
  content: '\e861';
}

/* '' */
.icon-arrow-up:before {
  content: '\e862';
}

/* '' */